/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif ;
    font-weight: 16px;
    line-height: 22px;
    background-color: #fff;
    color: #4a4b4c;
}

img {
    max-width: 100%;
    height: auto;
}

.all-link {
    text-decoration: none;
    list-style: none;
}

*:focus {
    outline: 2px dashed #7296ec;
    outline-offset: 3px;
}

.list-styles {
    list-style: none;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(246, 246, 246, 1);
}

.currency {
    margin-left: 35px;
    margin-right: 25px;
}

.global-search-from-input {
    width: 275px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    text-align: left;
    color: rgba(141, 141, 141, 1);
    border: 0;
    border-radius: 60px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-right: 20px;
}

/* LANG-TOGGLE */
.lang-toogle {
    display: flex;
    padding: 3px;
    margin-right: 25px;
    border-radius: 39px;
    background-color: rgba(220, 230, 255, 1);
    
}

.lang-toggle-link {
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    color:rgba(166, 166, 166, 1);
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.lang-toggle-link-active {
    background-color: #fff;
    color: black;
}

.all-link {
    width: 89px;
    height: 45px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-align: left;
    padding: 13px 20px 13px 20px;
    border-radius: 10px;
    background-color: rgba(114, 150, 236, 1);
    color: #fff;
    ;

}

/* NAV_BAR */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* MAIN */

/* CARDS */
.cards {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cards-column {
   width: 380px;
   height: 382px;
   border-radius: 15px;
   background-color: rgba(246, 246, 246, 1);
   padding: 20px 17px 15px 17px;
   margin-top: 10px;
}

.text {
    width: 358px;
    height: 132px;
}

.logo-text {
    display: flex;
}

.logo-img-margin {
    margin-right: 20px;
}

.img-group {
    margin-top: 10px;
    text-align: center;
}

